<form asp-action="Demo">
    <label>EmployeeId:</label> <br>
    <input type="text" name="EmployeeId"> <br>
    <label>Age:</label> <br>
    <input type="number" name="Age"> <br>
    <input type="submit" name="Send">
</form>
<p>@ViewBag.InfoEmployee</p>