<form asp-action="Index">
    <label>Nhập họ tên:</label>
    <input type="text" name="fullName">
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <input type="submit" value="Send">
</form>
<p>@ViewBag.Message</p>