<form asp-action="Index">
    <label>Ma dai ly:</label> <br>
    <input type="text" name="MaDaiLy"> <br>
    <label>Ten dai ly:</label> <br>
    <input type="text" name="TenDaiLy"> <br>
    <label>Dia chi:</label> <br>
    <input type="text" name="DiaChi"> <br>
    <label>Nguoi dai dien:</label> <br>
    <input type="text" name="NguoiDaiDien"> <br>
    <label>Dien thoai:</label> <br>
    <input type="number" name="DienThoai"> <br>
    <label>Ma he thong phan phoi:</label> <br>
    <input type="text" name="MaHTPP"> <br>
    <input type="submit" name="Gui du lieu">
</form>
<h2>@ViewBag.Data</h2>