<form asp-action="Index">
    <label>Ma dai ly:</label>
    <input type="text" name="MaDaiLy">
    <label>Ten dai ly:</label>
    <input type="text" name="TenDaiLy">
    <label>Dia chi:</label>
    <input type="text" name="DiaChi">
    <label>Nguoi dai dien:</label>
    <input type="text" name="NguoiDaiDien">
    <label>Dien thoai:</label>
    <input type="number" name="DienThoai">
    <label>Ma he thong phan phoi:</label>
    <input type="text" name="MaHTPP">
    <input type="submit" name="Gui du lieu">
</form>
<h2>@ViewBag.Data</h2>